<div class='card'>
  <h1>{{name}}</h1>
  <div class='card-container'>
    <div class='info'>
      <div>Capital: {{capital}}</div>
      <div>Population: {{population}}</div>
      <div>Launguages:<ul>
          {{#each languages}}
            <li>{{name}}</li>
          {{/each}}
        </ul></div>
    </div>
    <img class='image' src='{{flag}}' alt='' width='400' />
  </div>
</div>